---
layout: default
---
<select id="language-selector">
  <option value="en">English</option>
  <option value="pt">Português</option>
</select>

<script>
document.getElementById('language-selector').addEventListener('change', function() {
  var language = this.value;
  fetchData(language);
});

// Aqui você pode adicionar a função fetchData e o resto do script para carregar os dados conforme a seleção do idioma
</script>

{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include certifications.html %}

{% include projects.html %}

{% include oss-contributions.html %}

{% include publications.html %}

{% include skills.html %}

