---
layout: default
---
{% assign data_file = "datapt" %}

{% include career-profile.html data_file=data_file %}

{% unless site.data.data.sidebar.education%}
  {% include education.html data_file=data_file %}
{% endunless %}

{% include experiences.html data_file=data_file %}

{% include certifications.html data_file=data_file %}

{% include projects.html data_file=data_file %}

{% include oss-contributions.html data_file=data_file %}

{% include publications.html data_file=data_file %}

{% include skills.html data_file=data_file %}