{% assign sidebar = site.data.[data_file].sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">
  <nav style="display: flex; justify-content: center; align-items: center; margin-bottom: 12px; margin-top: -12px;" class="language-sw">
    <ul class="language-switch">
      <li><a href="/resume"><img src="{{ site.baseurl }}/assets/images/usa.png" alt="English"> English</a></li>
      <li><a href="/resume/pt.html"><img src="{{ site.baseurl }}/assets/images/brazil.png" alt="Português"> Português</a></li>
    </ul>
  </nav>
    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html data_file=data_file %}

  {% if sidebar.education  %}
    {% include education.html data_file=data_file%}
  {% endif %}

  {% include language.html data_file=data_file%}
  {% include interests.html data_file=data_file%}

  {% if sidebar.about  %}
    {% include about.html data_file=data_file%}
  {% endif %}

</div><!--//sidebar-wrapper-->
