---

---

@charset "utf-8";


// define variable with front matter
{% if site.data.data.sidebar.position == 'left' %}
$resume-order: 2;
$sidebar-order: 1;
{% else %}
$resume-order: 1;
$sidebar-order: 2;
{% endif %}

@import "skins/{{ site.theme_skin | default: 'dark' }}"; // skin
@import "default"; // main partials

.language-switch {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.language-switch li {
    display: inline;
    margin-right: 10px;
}

.language-switch li img {
    width: 30px;
    height: 20px;
    cursor: pointer;
}
